## Processamento dos dados do enade a fim de facilitar a construção da visualização
A visualização pode ser vista em: https://beta.observablehq.com/@lorenaps/como-anda-o-incentivo-e-o-desempenho-no-ensino-superior-na-pa

O objetivo é preparar os dados para responder as seguintes perguntas:
- Existe diferença de renda entre os alunos que tiveram acesso ao ensino superior através de políticas de ação afirmativa e aqueles que obtiveram acesso sem a utilização de políticas afirmativas?
- Qual a escolaridade dos pais entre os estudantes via política afirmativa e acesso normal?
- De onde vem o incentivo para cursar a graduação?
- Eles são os primeiros de sua família a concluir o ensino superior?

Mais informações sobre os dados base podem ser encontradas em: http://portal.inep.gov.br/web/guest/microdados

In [50]:
import pandas as pd
import io
import requests

In [51]:
url = 'https://raw.githubusercontent.com/nazareno/enade-vis/master/data/enade_2017_pb-str.csv'
dados_url = requests.get(url).content

In [52]:
enade = pd.read_csv(io.StringIO(dados_url.decode('utf-8')))
enade.head()

,id,A biblioteca dispôs das referências bibliográficas que os estudantes necessitaram.,A coordenação do curso esteve disponível para orientação acadêmica dos estudantes.,A fundamentação teórica oferecida no curso de Licenciatura foi suficiente para sua compreensão sobre a educação escolar e sua preparação para o exercício da docência?,A instituição contou com biblioteca virtual ou conferiu acesso a obras disponíveis em acervos virtuais.,A instituição dispôs de quantidade suficiente de funcionários para o apoio administrativo e acadêmico.,"A instituição dispôs de refeitório, cantina e banheiros em condições adequadas que atenderam as necessidades dos seus usuários.",A instituição ofereceu oportunidades para os estudantes atuarem como representantes em órgãos colegiados.,"A instituição promoveu atividades de cultura, de lazer e de interação social.",Alguém em sua família concluiu um curso superior?,...,Instituição(IES),Sigla,Endereço,Município,UF,Organização Acadêmica,Categoria,Categoria Administrativa,IGC,Ano IGC
0,2,6.0,6.0,"Sim, completamente",6.0,6.0,6.0,6.0,6.0,Sim,...,FACULDADES INTEGRADAS DE PATOS (FIP),FIP,Rua Horácio Nóbrega - s/n - s/c - CEP: 58704-0...,Patos,PB,Faculdade,Privada,Privada com fins lucrativos,3,2016
1,3,6.0,6.0,"Sim, completamente",6.0,6.0,6.0,6.0,6.0,Não,...,FACULDADES INTEGRADAS DE PATOS (FIP),FIP,Rua Horácio Nóbrega - s/n - s/c - CEP: 58704-0...,Patos,PB,Faculdade,Privada,Privada com fins lucrativos,3,2016
2,4,6.0,6.0,"Sim, completamente",6.0,6.0,6.0,3.0,6.0,Não,...,FACULDADES INTEGRADAS DE PATOS (FIP),FIP,Rua Horácio Nóbrega - s/n - s/c - CEP: 58704-0...,Patos,PB,Faculdade,Privada,Privada com fins lucrativos,3,2016
3,5,3.0,6.0,"Sim, em grande parte",4.0,6.0,6.0,1.0,1.0,Não,...,FACULDADES INTEGRADAS DE PATOS (FIP),FIP,Rua Horácio Nóbrega - s/n - s/c - CEP: 58704-0...,Patos,PB,Faculdade,Privada,Privada com fins lucrativos,3,2016
4,6,6.0,6.0,"Sim, completamente",4.0,6.0,5.0,6.0,6.0,Sim,...,FACULDADES INTEGRADAS DE PATOS (FIP),FIP,Rua Horácio Nóbrega - s/n - s/c - CEP: 58704-0...,Patos,PB,Faculdade,Privada,Privada com fins lucrativos,3,2016

In [53]:
enade.shape

(6974, 129)

In [54]:
enade.columns.values

array(['id',
       'A biblioteca dispôs das referências bibliográficas que os estudantes necessitaram.',
       'A coordenação do curso esteve disponível para orientação acadêmica dos estudantes.',
       'A fundamentação teórica oferecida no curso de Licenciatura foi suficiente para sua compreensão sobre a educação escolar e sua preparação para o exercício da docência?',
       'A instituição contou com biblioteca virtual ou conferiu acesso a obras disponíveis em acervos virtuais.',
       'A instituição dispôs de quantidade suficiente de funcionários para o apoio administrativo e acadêmico.',
       'A instituição dispôs de refeitório, cantina e banheiros em condições adequadas que atenderam as necessidades dos seus usuários.',
       'A instituição ofereceu oportunidades para os estudantes atuarem como representantes em órgãos colegiados.',
       'A instituição promoveu atividades de cultura, de lazer e de interação social.',
       'Alguém em sua família concluiu um curso superior?',
       'Algum dos grupos abaixo foi determinante para você enfrentar dificuldades durante seu curso superior e concluí-lo?',
       'Ao longo da sua trajetória acadêmica, você recebeu algum tipo de auxílio permanência? No caso de haver mais de uma opção, marcar apenas a bolsa de maior duração.',
       'Ao longo da sua trajetória acadêmica, você recebeu algum tipo de bolsa acadêmica? No caso de haver mais de uma opção, marcar apenas a bolsa de maior duração.',
       'As atividades acadêmicas desenvolvidas dentro e fora da sala de aula possibilitaram reflexão, convivência e respeito à diversidade.',
       'As atividades práticas foram suficientes para relacionar os conteúdos do curso com a prática, contribuindo para sua formação profissional.',
       'As atividades realizadas durante seu trabalho de conclusão de curso contribuíram para qualificar sua formação profissional',
       'As avaliações da aprendizagem realizadas durante o curso foram compatíveis com os conteúdos ou temas trabalhados pelos professores.',
       'As condições de infraestrutura das salas de aula foram adequadas.',
       'As disciplinas cursadas contribuíram para sua formação integral, como cidadão e profissional.',
       'As metodologias de ensino utilizadas no curso desafiaram você a aprofundar conhecimentos e desenvolver competências reflexivas e críticas.',
       'As referências bibliográficas indicadas pelos professores nos planos de ensino contribuíram para seus estudos e aprendizagens.',
       'As relações professor-aluno ao longo do curso estimularam você a estudar e aprender.',
       'Até que etapa de escolarização seu pai concluiu?',
       'Até que etapa de escolarização sua mãe concluiu?',
       'Durante o curso de graduação você participou de programas e/ou atividades curriculares no exterior?',
       'Em qual etapa/modalidade de ensino você realizou seu estágio curricular obrigatório?',
       'Em qual turno você realizou o estágio curricular obrigatório?',
       'Em que instituição você realizou seu estágio curricular obrigatório? Assinale a alternativa mais relevante para você.',
       'Em que tipo de escola você cursou o ensino médio?',
       'Em que unidade da Federação você concluiu o ensino médio?',
       'Excetuando-se os livros indicados na bibliografia do seu curso, quantos livros você leu neste ano?',
       'Foram oferecidas oportunidades para os estudantes participarem de programas, projetos ou atividades de extensão universitária.',
       'Foram oferecidas oportunidades para os estudantes participarem de projetos de iniciação científica e de atividades que estimularam a investigação acadêmica.',
       'Foram oferecidas oportunidades para os estudantes realizarem intercâmbios e/ou estágios fora do país.',
       'Foram oferecidas oportunidades para os estudantes realizarem intercâmbios e/ou estágios no país.',
       'Foram oferecidas oportunidades para os estudantes superarem dificuldades relacionadas ao processo de formação.',
       'No curso você teve oportunidade de aprender a trabalhar em equipe.',
       'No decorrer do estágio curricular obrigatório, você teve adequado acompanhamento de um ou mais professores da instituição em que estagiou?',
       'No decorrer do estágio curricular obrigatório, você teve suficiente orientação e supervisão de professores do seu curso?',
       'O curso contribuiu para o desenvolvimento da sua capacidade de aprender e atualizar-se permanentemente.',
       'O curso contribuiu para o desenvolvimento da sua consciência ética para o exercício profissional.',
       'O curso contribuiu para você ampliar sua capacidade de comunicação nas formas oral e escrita.',
       'O curso disponibilizou monitores ou tutores para auxiliar os estudantes.',
       'O curso exigiu de você organização e dedicação frequente aos estudos.',
       'O curso favoreceu a articulação do conhecimento teórico com atividades práticas.',
       'O curso ofereceu condições para os estudantes participarem de eventos internos e/ou externos à instituição.',
       'O curso possibilitou aumentar sua capacidade de reflexão e argumentação.',
       'O curso promoveu o desenvolvimento da sua capacidade de pensar criticamente, analisar e refletir sobre soluções para problemas da sociedade.',
       'O curso propiciou acesso a conhecimentos atualizados e/ou contemporâneos em sua área de formação.',
       'O curso propiciou experiências de aprendizagem inovadoras.',
       'O estágio supervisionado proporcionou experiências diversificadas para a sua formação.',
       'Onde e com quem você mora atualmente?',
       'Onde você pretende atuar daqui a cinco anos?',
       'Os ambientes e equipamentos destinados às aulas práticas foram adequados ao curso.',
       'Os conteúdos abordados nas disciplinas do curso favoreceram sua atuação em estágios ou em atividades de iniciação profissional.',
       'Os equipamentos e materiais disponíveis para as aulas práticas foram adequados para a quantidade de estudantes.',
       'Os estudantes participaram de avaliações periódicas do curso (disciplinas, atuação dos professores, infraestrutura).',
       'Os planos de ensino apresentados pelos professores contribuíram para o desenvolvimento das atividades acadêmicas e para seus estudos.',
       'Os professores apresentaram disponibilidade para atender os estudantes fora do horário das aulas.',
       'Os professores demonstraram domínio dos conteúdos abordados nas disciplinas.',
       'Os professores utilizaram tecnologias da informação e comunicação (TICs) como estratégia de ensino (projetor multimídia, laboratório de informática, ambiente virtual de aprendizagem).',
       'Qual a principal razão para você ter escolhido a Licenciatura?',
       'Qual a principal razão para você ter escolhido a sua instituição de educação superior?',
       'Qual a renda total de sua família, incluindo seus rendimentos?',
       'Qual a sua nacionalidade?',
       'Qual alternativa a seguir melhor descreve sua situação de trabalho (exceto estágio ou bolsas)?',
       'Qual alternativa a seguir melhor descreve sua situação financeira (incluindo bolsas)?',
       'Qual é a sua cor ou raça?',
       'Qual modalidade de ensino médio você concluiu?',
       'Qual o principal motivo para você ter escolhido este curso?',
       'Qual o seu estado civil?',
       'Quantas horas de estágio curricular obrigatório você integralizou?',
       'Quantas horas por semana, aproximadamente, você dedicou aos estudos, excetuando as horas de aula?',
       'Quantas pessoas da sua família moram com você? Considere seus pais, irmãos, cônjuge, filhos e outros parentes que moram na mesma casa com você.',
       'Que tipo de bolsa de estudos ou financiamento do curso você recebeu para custear todas ou a maior parte das mensalidades? No caso de haver mais de uma opção, marcar apenas a bolsa de maior duração.',
       'Quem lhe deu maior incentivo para cursar a graduação?',
       'Se você tem experiência no magistério, em qual etapa/modalidade atuou? Assinale a alternativa mais relevante para você.',
       'Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?',
       'Você já tem experiência profissional no magistério, qual a forma de contrato? Assinale a alternativa mais relevante para você.',
       'Você pretende exercer o magistério após o término do curso?',
       'Você teve oportunidade de aprendizado de idioma estrangeiro na Instituição?',
       'Você vivenciou, durante o curso de graduação, experiências pedagógicas que gostaria de proporcionar aos seus futuros alunos?',
       'NU_ANO', 'CO_IES', 'CO_CATEGAD', 'CO_ORGACAD', 'CO_GRUPO',
       'CO_CURSO', 'CO_MODALIDADE', 'CO_MUNIC_CURSO', 'CO_UF_CURSO',
       'CO_REGIAO_CURSO', 'NU_IDADE', 'TP_SEXO', 'ANO_FIM_EM',
       'ANO_IN_GRAD', 'CO_TURNO_GRADUACAO', 'TP_INSCRICAO_ADM',
       'TP_INSCRICAO', 'TP_PRES', 'TP_SCE_D1', 'TP_SCE_D2', 'TP_SCE_D3',
       'NT_GER', 'NT_FG', 'NT_OBJ_FG', 'NT_DIS_FG', 'NT_FG_D1',
       'NT_FG_D1_PT', 'NT_FG_D1_CT', 'NT_FG_D2', 'NT_FG_D2_PT',
       'NT_FG_D2_CT', 'NT_CE', 'CO_RS_I9', 'NOME_CURSO',
       'Código Mantenedora', 'CNPJ', 'Natureza Jurídica',
       'Instituição(IES)', 'Sigla', 'Endereço', 'Município', 'UF',
       'Organização Acadêmica', 'Categoria', 'Categoria Administrativa',
       'IGC', 'Ano IGC'], dtype=object)

### Agrupamento para entender como estão os valores no conjunto

Agrupando pelo rendimento da família

In [55]:
enade.groupby("Qual a renda total de sua família, incluindo seus rendimentos?").size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Qual a renda total de sua família, incluindo seus rendimentos?   qtd
1           Até 1,5 salário mínimo (até R$ 1405,50).              2561
2  De 1,5 a 3 salários mínimos (R$ 1405,51 a R$ 2...              2025
4  De 3 a 4,5 salários mínimos (R$ 2811,01 a R$ 4...              1000
6  De 6 a 10 salários mínimos (R$ 5 622,01 a R$ 9...               488
5  De 4,5 a 6 salários mínimos (R$ 4216,51 a R$ 5...               433
3  De 10 a 30 salários mínimos (R$ 9370,01 a R$ 2...               318
0  Acima de 30 salários mínimos (mais de R$ 28110...                34

In [56]:
enade.groupby("Qual a renda total de sua família, incluindo seus rendimentos?")

Replace nos valores da renda para diminuir o tamanho do campo, visando que eles fiquem mais legíveis na visualização

In [57]:
enade = enade.replace('Até 1,5 salário mínimo (até R$ 1405,50).', 'Até 1,5 salário mínimo')
enade = enade.replace('De 1,5 a 3 salários mínimos (R$ 1405,51 a R$ 2.811,00).', 'De 1,5 a 3 salários mínimos')
enade = enade.replace('De 3 a 4,5 salários mínimos (R$ 2811,01 a R$ 4.216,50).', 'De 3 a 4,5 salários mínimos')
enade = enade.replace('De 4,5 a 6 salários mínimos (R$ 4216,51 a R$ 5.622,00).', 'De 4,5 a 6 salários mínimos')
enade = enade.replace('De 6 a 10 salários mínimos (R$ 5 622,01 a R$ 9.370,00).', 'De 6 a 10 salários mínimos')
enade = enade.replace('De 10 a 30 salários mínimos (R$ 9370,01 a R$ 28.110,00).', 'De 10 a 30 salários mínimos')
enade = enade.replace('Acima de 30 salários mínimos (mais de R$ 28110,00).', 'Acima de 30 salários mínimos')

enade.groupby("Qual a renda total de sua família, incluindo seus rendimentos?").size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Qual a renda total de sua família, incluindo seus rendimentos?   qtd
1                             Até 1,5 salário mínimo              2561
2                        De 1,5 a 3 salários mínimos              2025
4                        De 3 a 4,5 salários mínimos              1000
6                         De 6 a 10 salários mínimos               488
5                        De 4,5 a 6 salários mínimos               433
3                        De 10 a 30 salários mínimos               318
0                       Acima de 30 salários mínimos                34

Agrupando pelo tipo de ingresso

In [58]:
enade.groupby('Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

,Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?,qtd
0,Não,4960
5,"Sim, por ter estudado em escola pública ou par...",926
4,"Sim, por sistema que combina dois ou mais crit...",314
1,"Sim, por critério de renda",290
3,"Sim, por sistema diferente dos anteriores",190
2,"Sim, por critério étnico-racial",179

Desconsiderando as diferentes classificações de politicas afirmativas ou inclusão social, pois o objetivo aqui é apenas analisar algumas caracteristica entre os dois grupos macro: Alunos que tiveram acesso **via** política afirmativa e Alunos que tiveram acesso **sem** política afirmativa

In [59]:
enade = enade.replace(['Sim, por critério de renda', 
                       'Sim, por critério étnico-racial', 
                        'Sim, por sistema diferente dos anteriores', 
                        'Sim, por sistema que combina dois ou mais critérios anteriores', 
                        'Sim, por ter estudado em escola pública ou particular com bolsa de estudos'], 'Sim')

Agrupando os dados novamente

In [60]:
enade.groupby('Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

,Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?,qtd
0,Não,4960
1,Sim,1899

Agrupando pela fonte de incentivo para cursar a graduação

In [61]:
enade.groupby('Quem lhe deu maior incentivo para cursar a graduação?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Quem lhe deu maior incentivo para cursar a graduação?   qtd
5                                               Pais     4517
2                                            Ninguém     1082
4          Outros membros da família que não os pais      465
0                                     Colegas/Amigos      314
6                                        Professores      297
3                                     Outras pessoas      162
1                   Líder ou representante religioso       22

Agrupando pelo campo que identifica se alguem da família já concluiu o ensino superior

In [62]:
enade.groupby('Alguém em sua família concluiu um curso superior?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Alguém em sua família concluiu um curso superior?   qtd
1                                               Sim  4739
0                                               Não  2120

Agrupando pela escolarização do pai

In [63]:
enade.groupby('Até que etapa de escolarização seu pai concluiu?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

   Até que etapa de escolarização seu pai concluiu?   qtd
0  Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série)  2054
2                                      Ensino Médio  1815
3                       Ensino Superior - Graduação  1010
4                                           Nenhuma   855
1  Ensino Fundamental: 6º ao 9º ano (5ª a 8ª série)   818
5                                     Pós-graduação   307

Agrupando pela escolarização do mãe

In [64]:
enade.groupby('Até que etapa de escolarização sua mãe concluiu?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

   Até que etapa de escolarização sua mãe concluiu?   qtd
3                                      Ensino médio  1988
1  Ensino fundamental: 1º ao 5º ano (1ª a 4ª série)  1788
0                       Ensino Superior - Graduação  1252
2  Ensino fundamental: 6º ao 9º ano (5ª a 8ª série)   829
5                                     Pós-graduação   604
4                                           Nenhuma   398

Agora vamos agrupar todas essas colunas juntas para poder fazer analises como 

> *Existe diferença entre a escolaridade dos pais dos alunos que ingressaram através de políticas afirmativas e daqueles que ingressaram sem políticas afirmativas*

In [65]:
dados_agrupados = enade.groupby(['Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?', 
              'Qual a renda total de sua família, incluindo seus rendimentos?', 
              'Quem lhe deu maior incentivo para cursar a graduação?', 
              'Alguém em sua família concluiu um curso superior?',
              'Até que etapa de escolarização sua mãe concluiu?',
              'Até que etapa de escolarização seu pai concluiu?']).size().reset_index(name='qtd').sort_values('qtd', ascending=False)
dados_agrupados.head()

,Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?,"Qual a renda total de sua família, incluindo seus rendimentos?",Quem lhe deu maior incentivo para cursar a graduação?,Alguém em sua família concluiu um curso superior?,Até que etapa de escolarização sua mãe concluiu?,Até que etapa de escolarização seu pai concluiu?,qtd
142,Não,"Até 1,5 salário mínimo",Pais,Não,Ensino fundamental: 1º ao 5º ano (1ª a 4ª série),Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série),99
381,Não,"De 1,5 a 3 salários mínimos",Pais,Sim,Ensino médio,Ensino Médio,96
895,Sim,"Até 1,5 salário mínimo",Pais,Não,Ensino fundamental: 1º ao 5º ano (1ª a 4ª série),Ensino Fundamental: 1º ao 5º ano (1ª a 4ª série),84
764,Não,De 6 a 10 salários mínimos,Pais,Sim,Ensino Superior - Graduação,Ensino Superior - Graduação,81
596,Não,"De 3 a 4,5 salários mínimos",Pais,Sim,Ensino médio,Ensino Médio,81

### Renomeando colunas e valores para facilitar a visualização no Observable

In [38]:
dados_agrupados.columns

Index(['Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?',
       'Qual a renda total de sua família, incluindo seus rendimentos?',
       'Quem lhe deu maior incentivo para cursar a graduação?',
       'Alguém em sua família concluiu um curso superior?',
       'Até que etapa de escolarização sua mãe concluiu?',
       'Até que etapa de escolarização seu pai concluiu?', 'qtd'],
      dtype='object')

In [39]:
dados_agrupados = dados_agrupados.rename(
    columns={'Seu ingresso no curso de graduação se deu por meio de políticas de ação afirmativa ou inclusão social?':
                              'Ingresso via políticas de ação afirmativa ou inclusão social?',
             'Qual a renda total de sua família, incluindo seus rendimentos?': 
                            'Renda total da família',
             'Até que etapa de escolarização sua mãe concluiu?':
                            'Escolaridade da Mãe',
             'Até que etapa de escolarização seu pai concluiu?':
                            'Escolaridade do Pai',
             'Quem lhe deu maior incentivo para cursar a graduação?':
                             'Incentivo para cursar a graduação'
                                                 })

In [40]:
dados_agrupados.columns

Index(['Ingresso via políticas de ação afirmativa ou inclusão social?',
       'Renda total da família', 'Incentivo para cursar a graduação',
       'Alguém em sua família concluiu um curso superior?',
       'Escolaridade da Mãe', 'Escolaridade do Pai', 'qtd'],
      dtype='object')

In [ ]:
from google.colab import files

dados_agrupados.to_csv('dados_agrupados.csv')
files.download('dados_agrupados.csv')

In [42]:
dados_agrupados.to_csv('../dados/dados_enade_agrupados.csv')

## Outros dados para análise

In [43]:
enade.groupby('Qual é a sua cor ou raça?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Qual é a sua cor ou raça?   qtd
4                     Parda  3217
1                    Branca  2546
5                     Preta   590
0                   Amarela   245
3        Não quero declarar   217
2                  Indígena    44

In [44]:
enade.groupby('Em que tipo de escola você cursou o ensino médio?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

  Em que tipo de escola você cursou o ensino médio?   qtd
4                            Todo em escola pública  4203
3               Todo em escola privada (particular)  2187
0      A maior parte em escola privada (particular)   231
1                   A maior parte em escola pública   227
2               Parte no Brasil e parte no exterior     8
5                                  Todo no exterior     3

In [45]:
enade.groupby(['Em que tipo de escola você cursou o ensino médio?', 
               'Qual é a sua cor ou raça?']).size().reset_index(name='qtd').sort_values('qtd', ascending=False)

,Em que tipo de escola você cursou o ensino médio?,Qual é a sua cor ou raça?,qtd
25,Todo em escola pública,Parda,2243
22,Todo em escola pública,Branca,1242
16,Todo em escola privada (particular),Branca,1131
19,Todo em escola privada (particular),Parda,767
26,Todo em escola pública,Preta,434
21,Todo em escola pública,Amarela,131
10,A maior parte em escola pública,Parda,116
24,Todo em escola pública,Não quero declarar,116
20,Todo em escola privada (particular),Preta,115
1,A maior parte em escola privada (particular),Branca,98
4,A maior parte em escola privada (particular),Parda,90
15,Todo em escola privada (particular),Amarela,87
18,Todo em escola privada (particular),Não quero declarar,83
7,A maior parte em escola pública,Branca,70
23,Todo em escola pública,Indígena,37
11,A maior parte em escola pública,Preta,20
0,A maior parte em escola privada (particular),Amarela,17
5,A maior parte em escola privada (particular),Preta,16
9,A maior parte em escola pública,Não quero declarar,10
6,A maior parte em escola pública,Amarela,10
3,A maior parte em escola privada (particular),Não quero declarar,8
12,Parte no Brasil e parte no exterior,Branca,5
17,Todo em escola privada (particular),Indígena,4
27,Todo no exterior,Preta,3
2,A maior parte em escola privada (particular),Indígena,2
14,Parte no Brasil e parte no exterior,Preta,2
13,Parte no Brasil e parte no exterior,Parda,1
8,A maior parte em escola pública,Indígena,1

In [46]:
enade.groupby('Onde e com quem você mora atualmente?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

               Onde e com quem você mora atualmente?   qtd
3     Em casa ou apartamento, com pais e/ou parentes  3927
1    Em casa ou apartamento, com cônjuge e/ou filhos  1803
2  Em casa ou apartamento, com outras pessoas (in...   572
4                    Em casa ou apartamento, sozinho   430
0  Em alojamento universitário da própria institu...    91
5  Em outros tipos de habitação individual ou col...    36

In [47]:
enade.groupby('Qual a principal razão para você ter escolhido a sua instituição de educação superior?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

,Qual a principal razão para você ter escolhido a sua instituição de educação superior?,qtd
2,Gratuidade,2812
8,Qualidade/reputação,2333
6,Proximidade da minha residência,623
3,Outro motivo,467
0,Facilidade de acesso,271
1,Foi a única onde tive aprovação,162
4,Possibilidade de ter bolsa de estudo,103
5,Preço da mensalidade,54
7,Proximidade do meu trabalho,34

In [48]:
enade.groupby('Qual modalidade de ensino médio você concluiu?').size().reset_index(name='qtd').sort_values('qtd', ascending=False)

      Qual modalidade de ensino médio você concluiu?   qtd
1                           Ensino médio tradicional  5935
4  Profissionalizante técnico (eletrônica, contab...   350
3       Profissionalizante magistério (Curso Normal)   283
0  Educação de Jovens e Adultos (EJA) e/ou Supletivo   241
2                                   Outra modalidade    50

In [72]:
enade.groupby('Quantas pessoas da sua família moram com você? Considere seus pais, irmãos, cônjuge, filhos e outros parentes que moram na mesma casa com você.'
).size().reset_index(name='qtd').sort_values('qtd', ascending=False)

,"Quantas pessoas da sua família moram com você? Considere seus pais, irmãos, cônjuge, filhos e outros parentes que moram na mesma casa com você.",qtd
6,Três,1654
1,Duas,1484
3,Quatro,1105
7,Uma,967
2,Nenhuma,777
0,Cinco,539
4,Seis,194
5,Sete ou mais,139