## Criando métrica para avaliar a distribuição entre homens e mulheres como responsável por um domicílio

In [0]:
import pandas as pd
import io
import requests

In [0]:
url = 'https://raw.githubusercontent.com/Lorenaps/visualizacao-de-dados/master/dados/dados-salvador-join-utf8.csv'
dados_url = requests.get(url).content

In [3]:
dados_salvador = pd.read_csv(io.StringIO(dados_url.decode('utf-8')))
dados_salvador.head()

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V233,V234,V235,V236,V237,V238,V239,V240,V241,X244
0,292740805060001,2,Região Nordeste,29,Bahia,2905,Metropolitana de Salvador,29021,Salvador,15,...,0,0,0,0,0,0,0,0,0,NaN
1,292740805060002,2,Região Nordeste,29,Bahia,2905,Metropolitana de Salvador,29021,Salvador,15,...,0,0,0,0,0,0,0,0,0,NaN
2,292740805060003,2,Região Nordeste,29,Bahia,2905,Metropolitana de Salvador,29021,Salvador,15,...,0,0,0,0,0,0,0,0,0,NaN
3,292740805060004,2,Região Nordeste,29,Bahia,2905,Metropolitana de Salvador,29021,Salvador,15,...,0,0,0,0,0,0,0,0,0,NaN
4,292740805060005,2,Região Nordeste,29,Bahia,2905,Metropolitana de Salvador,29021,Salvador,15,...,0,3,3,0,0,0,0,0,0,NaN

In [0]:
dados_salvador[['V062', 'V063', 'V064', 'V065', 'V066', 'V067', 'V068']] = dados_salvador[['V062', 'V063', 'V064', 'V065', 'V066', 'V067', 'V068']].replace('X', 0)

In [5]:
dados_salvador[['V062', 'V063', 'V064', 'V065', 'V066', 'V067', 'V068']] = dados_salvador[['V062', 'V063', 'V064', 'V065', 'V066', 'V067', 'V068']].astype('int64')
dados_salvador[['V062', 'V063', 'V064', 'V065', 'V066', 'V067', 'V068']].dtypes

V062    int64
V063    int64
V064    int64
V065    int64
V066    int64
V067    int64
V068    int64
dtype: object

In [6]:
dados_salvador['V062'].head()

0    23
1    23
2    32
3     7
4    23
Name: V062, dtype: int64

In [7]:
dados_salvador['V063'].head()

0    22
1    25
2    21
3     6
4    28
Name: V063, dtype: int64

In [8]:
dados_salvador['V064'].head()

0     8
1    19
2    18
3     5
4    26
Name: V064, dtype: int64

In [9]:
dados_salvador['V065'].head()

0    1
1    9
2    6
3    2
4    9
Name: V065, dtype: int64

In [10]:
dados_salvador['V066'].head()

0    1
1    4
2    3
3    2
4    8
Name: V066, dtype: int64

In [11]:
dados_salvador['V067'].head()

0    1
1    1
2    3
3    0
4    2
Name: V067, dtype: int64

In [12]:
dados_salvador['V068'].head()

0    24
1    19
2    26
3     6
4    23
Name: V068, dtype: int64

In [13]:
dados_salvador['qtd_homens'] = dados_salvador['V062'] + dados_salvador['V063'] + dados_salvador['V064'] + dados_salvador['V065'] + dados_salvador['V066'] + dados_salvador['V067'] + dados_salvador['V068']
dados_salvador['qtd_homens'].head()

0     80
1    100
2    109
3     28
4    119
Name: qtd_homens, dtype: int64

In [14]:
dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']] = dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']].replace('X', 0)
dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']].head()

  V081 V082 V083 V084 V085 V086 V087
0   38   11   10    7    1    1   39
1   32   33   28    9    0    5   25
2   28   16   11    4    1    3   21
3    7    7    6    1    0    0    7
4   38   29   17    6    4    2   30

In [15]:
dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']] = dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']].astype('int64')
dados_salvador[['V081', 'V082', 'V083', 'V084', 'V085', 'V086', 'V087']].dtypes

V081    int64
V082    int64
V083    int64
V084    int64
V085    int64
V086    int64
V087    int64
dtype: object

In [16]:
dados_salvador['qtd_resp_mulheres'] = dados_salvador['V081'] + dados_salvador['V082'] + dados_salvador['V083'] + dados_salvador['V084'] + dados_salvador['V085'] + dados_salvador['V086'] + dados_salvador['V087']
dados_salvador['qtd_resp_mulheres'].head()

0    107
1    132
2     84
3     28
4    126
Name: qtd_resp_mulheres, dtype: int64

In [17]:
dados_salvador['total_resp'] = dados_salvador['qtd_resp_mulheres'] + dados_salvador['qtd_homens']
dados_salvador['total_resp'].head()

0    187
1    232
2    193
3     56
4    245
Name: total_resp, dtype: int64

In [21]:
dados_salvador['proporcao_resp_mulheres'] = dados_salvador['qtd_resp_mulheres']/dados_salvador['total_resp']
dados_salvador['proporcao_resp_mulheres']

0       0.572193
1       0.568966
2       0.435233
3       0.500000
4       0.514286
5       0.415730
6       0.521490
7       0.414141
8       0.511278
9       0.579167
10      0.534091
11      0.497175
12      0.389764
13      0.430493
14      0.696078
15      0.601523
16      0.379699
17      0.386282
18      0.409091
19      0.664234
20      0.441935
21      0.422535
22      0.468571
23      0.586364
24      0.411765
25      0.443223
26      0.502392
27      0.546099
28      0.625000
29      0.428144
          ...
3516    0.643478
3517    0.525862
3518    0.564706
3519    0.413333
3520    0.477273
3521    0.435644
3522    0.422018
3523    0.439516
3524    0.472527
3525    0.475000
3526    0.364407
3527    0.526316
3528    0.642857
3529    0.413534
3530    0.669014
3531    0.567164
3532    0.321101
3533    0.552189
3534    0.442553
3535    0.357692
3536    0.384615
3537    0.558824
3538    0.494949
3539    0.471429
3540    0.439614
3541    0.367816
3542    0.520161
3543    0.388889
3544    0.444444
3545    0.515284
Name: proporcao_resp_mulheres, Length: 3546, dtype: float64

In [22]:
dados_salvador['proporcao_resp_homens'] = dados_salvador['qtd_homens']/dados_salvador['total_resp']
dados_salvador['proporcao_resp_homens']

0       0.427807
1       0.431034
2       0.564767
3       0.500000
4       0.485714
5       0.584270
6       0.478510
7       0.585859
8       0.488722
9       0.420833
10      0.465909
11      0.502825
12      0.610236
13      0.569507
14      0.303922
15      0.398477
16      0.620301
17      0.613718
18      0.590909
19      0.335766
20      0.558065
21      0.577465
22      0.531429
23      0.413636
24      0.588235
25      0.556777
26      0.497608
27      0.453901
28      0.375000
29      0.571856
          ...
3516    0.356522
3517    0.474138
3518    0.435294
3519    0.586667
3520    0.522727
3521    0.564356
3522    0.577982
3523    0.560484
3524    0.527473
3525    0.525000
3526    0.635593
3527    0.473684
3528    0.357143
3529    0.586466
3530    0.330986
3531    0.432836
3532    0.678899
3533    0.447811
3534    0.557447
3535    0.642308
3536    0.615385
3537    0.441176
3538    0.505051
3539    0.528571
3540    0.560386
3541    0.632184
3542    0.479839
3543    0.611111
3544    0.555556
3545    0.484716
Name: proporcao_resp_homens, Length: 3546, dtype: float64

In [25]:
dados_salvador['perc_resp_homens'] = dados_salvador['proporcao_resp_homens'] * 100
dados_salvador['perc_resp_homens']

0       42.780749
1       43.103448
2       56.476684
3       50.000000
4       48.571429
5       58.426966
6       47.851003
7       58.585859
8       48.872180
9       42.083333
10      46.590909
11      50.282486
12      61.023622
13      56.950673
14      30.392157
15      39.847716
16      62.030075
17      61.371841
18      59.090909
19      33.576642
20      55.806452
21      57.746479
22      53.142857
23      41.363636
24      58.823529
25      55.677656
26      49.760766
27      45.390071
28      37.500000
29      57.185629
          ...
3516    35.652174
3517    47.413793
3518    43.529412
3519    58.666667
3520    52.272727
3521    56.435644
3522    57.798165
3523    56.048387
3524    52.747253
3525    52.500000
3526    63.559322
3527    47.368421
3528    35.714286
3529    58.646617
3530    33.098592
3531    43.283582
3532    67.889908
3533    44.781145
3534    55.744681
3535    64.230769
3536    61.538462
3537    44.117647
3538    50.505051
3539    52.857143
3540    56.038647
3541    63.218391
3542    47.983871
3543    61.111111
3544    55.555556
3545    48.471616
Name: perc_resp_homens, Length: 3546, dtype: float64

In [26]:
dados_salvador['perc_resp_mulheres'] = dados_salvador['proporcao_resp_mulheres'] * 100
dados_salvador['perc_resp_mulheres']

0       57.219251
1       56.896552
2       43.523316
3       50.000000
4       51.428571
5       41.573034
6       52.148997
7       41.414141
8       51.127820
9       57.916667
10      53.409091
11      49.717514
12      38.976378
13      43.049327
14      69.607843
15      60.152284
16      37.969925
17      38.628159
18      40.909091
19      66.423358
20      44.193548
21      42.253521
22      46.857143
23      58.636364
24      41.176471
25      44.322344
26      50.239234
27      54.609929
28      62.500000
29      42.814371
          ...
3516    64.347826
3517    52.586207
3518    56.470588
3519    41.333333
3520    47.727273
3521    43.564356
3522    42.201835
3523    43.951613
3524    47.252747
3525    47.500000
3526    36.440678
3527    52.631579
3528    64.285714
3529    41.353383
3530    66.901408
3531    56.716418
3532    32.110092
3533    55.218855
3534    44.255319
3535    35.769231
3536    38.461538
3537    55.882353
3538    49.494949
3539    47.142857
3540    43.961353
3541    36.781609
3542    52.016129
3543    38.888889
3544    44.444444
3545    51.528384
Name: perc_resp_mulheres, Length: 3546, dtype: float64

In [0]:
from google.colab import files

dados_salvador.to_csv('dados_salvador_metrica_calc.csv')
files.download('dados_salvador_metrica_calc.csv')